<div class="portfolio section-bg container">
  <div class="section-title">
    <h2>Portfolio</h2>
  </div>

  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <a href="https://www.figma.com/file/04RSQ0gBMsuI2RQJnXPrXS/Take-a-nappe?type=design&node-id=243%3A2&mode=design&t=2u0ReLqZRN795vfc-1"
        target="_blank">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/take-a-nappe.jpg" class="img-fluid" alt="">
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <a href="https://www.cadastre.com/" target="_blank">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/ici-dev.jpg" class="img-fluid" alt="mockup ici-dev">
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
      <a target="_blank"
        href="https://www.reddit.com/r/lostarkgame/comments/14dm74o/suggestion_for_a_new_autodismantle_system/">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/lost-ark.jpg" class="img-fluid" alt="new interface lost-ark dismantle">
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <a href="https://www.figma.com/file/p4NGprVgUyiJY10GcMFxuJ/Charte-Graphique?type=design&node-id=0%3A1&mode=design&t=9KP6cPkmd9gAmEr2-1"
        target="_blank">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/bubbletea.jpg" class="img-fluid" alt="">
        </div>
      </a>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <a href="https://www.figma.com/file/OwcGyHQEVgUZycyoGGcrC2/Projet-DC5B---BEAT---Gpe1-(Copy)?type=design&node-id=0%3A1&mode=design&t=lIUEavUsfbEmy7K1-1"
        target="_blank">
        <div class="portfolio-wrap">
          <img src="assets/img/portfolio/hapi-mockup.jpg" class="img-fluid" alt="">
        </div>
      </a>
    </div>
  </div>

</div>
