<div class="about container">
  <div class="section-title">
    <h2>À propos</h2>
    <p>En tant qu'intégrateur et Designer UI/UX basé à Montpellier, je consacre une grande partie de mon temps à
      explorer le monde numérique. Entre vidéos de chats, travail et découvertes en tous genres, j'ai rapidement
      ressenti le besoin de créer visuellement. Que ce soit à travers la conception de sites web, de créations
      graphiques ou d'autres supports, mon objectif est de donner vie à des visuels qui reflètent ma vision unique du
      monde. En tant que professionnel du webdesign et du front-end, je suis passionné par la réalisation d'expériences
      utilisateur exceptionnelles
    </p>
  </div>
  <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
      <img src="assets/img/profile-img.jpg" class="img-fluid" alt="Mathieu Piñol">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
      <h3>UI/UX Designer &amp; Web Developer</h3>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><strong>Né le:</strong> <span>1 Août 1994</span></li>
            <li><strong>Âge:</strong> <span>29</span></li>
            <li><strong>Téléphone:</strong> <span>+33 06 52 36 60 24 </span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><strong>Dîplome:</strong> <span>Master</span></li>
            <li><strong>Email:</strong> <span>mathieu.pinol@gmail.com</span></li>
            <li><strong>Ville:</strong> <span>Montpellier</span></li>
          </ul>
        </div>
      </div>
      <p>

        Né en Seine-et-Marne (77), depuis mon plus jeune âge, j'ai consacré de nombreuses heures à l'exploration du
        monde numérique sur l'ordinateur familial. Les aventures épiques d'Age of Empire m'ont captivé et m'ont poussé à
        me questionner sur l'art du game design. Qu'est-ce qui rend une interface aussi agréable et intuitive ? Cette
        interrogation persistante a alimenté ma curiosité grandissante pour les interfaces et a finalement ouvert la
        voie à ma passion pour la création de sites internet. Ainsi, de fil en aiguille, je me suis plongé dans
        l'univers captivant des interfaces, explorant les subtilités qui font la différence entre une expérience
        utilisateur fluide et engageante et une interface déconcertante. C'est dans cet élan de découverte que j'ai
        développé mon intérêt profond pour la conception d'interfaces et le design web, cherchant constamment à
        améliorer et à repousser les limites de mes compétences
      </p>
    </div>
  </div>
</div>
