<nav class="nav-menu navbar">
  <ul>
    <li>
      <a href="#hero" class="nav-link">
        <fa-icon [icon]="faHouse"></fa-icon><span>Accueil</span>
      </a>
    </li>
    <li>
      <a href="#about" class="nav-link">
        <fa-icon [icon]="faUser"></fa-icon><span>À propos</span>
      </a>
    </li>
    <li>
      <a href="#resume" class="nav-link">
        <fa-icon [icon]="faFile"></fa-icon><span>Expériences</span>
      </a>
    </li>
    <li>
      <a href="#portfolio" class="nav-link">
        <fa-icon [icon]="faBook"></fa-icon><span>Portfolio</span>
      </a>
    </li>
  </ul>
</nav>
