<app-hero></app-hero>
<main class="main" id="main">
  <!-- ======= About Section ======= -->
  <section id="about">
    <app-about></app-about>
  </section><!-- End About Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="section-bg">
    <app-skills></app-skills>
  </section><!-- End Skills Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume">
    <app-resume></app-resume>
  </section><!-- End Resume Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <app-portfolio></app-portfolio>
  </section><!-- End Portfolio Section -->

</main><!-- End #main -->
