<section class="legal">
  <div class="col-12 col-lg-8 my-5 py-5">
    <h1 class="pb-5">Mentions légales</h1>
    <div class="">
      <h3 class="wp-block-heading">Propriétaire et créateur</h3>
      <p>Le site Internet maylisbesset.fr est la propriété exclusive de Mathieu PIÑOL.</p>
      <ul>
        <li>Propriétaire : Mathieu PIÑOL</li>
        <li>E-mail : mathieu.pinol@gmail.com</li>
        <li>Conception du site internet : Mathieu PIÑOL</li>
      </ul>
      <h3 class="wp-block-heading">Hébergeur</h3>
      <p>L’hébergeur du site est : OVH – www.ovh.com – 2 rue Kellermann 59100 Roubaix France.</p>
    </div>
  </div>
</section>
